<div class="row">
  <div class="input-field  center-align">
    <h2>Sign up</h2>
  </div>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>


<!--  <div class="row">-->
<!--    <div class="input-field col offset-s3 s6">-->
<!--      <%#= f.label :email %><br />-->
      <%#= f.email_field :email, autofocus: true, autocomplete: "off" %>
<!--    </div>-->
<!--  </div>-->

<!--  <div class="row">-->
<!--    <div class="input-field col offset-s3 s6">-->
<!--      <%#= f.label :name %><br/>-->
      <%#= f.text_field :name, autocomplete: "off" %>
<!--    </div>-->
<!--  </div>-->

<!--  <div class="row">-->
<!--    <div class="input-field col offset-s3 s6">-->
<!--      <%#= f.label :surname %><br/>-->
      <%#= f.text_field :surname, autocomplete: "off" %>
<!--    </div>-->
<!--  </div>-->

<!--  <div class="row">-->
<!--    <div class="input-field col offset-s3 s6">-->
<!--      <%#= f.label :middlename %><br/>-->
      <%#= f.text_field :middlename, autocomplete: "off" %>
<!--    </div>-->
<!--  </div>-->

<!--  <div class="row">-->
<!--    <div class="input-field col offset-s3 s6">-->
<!--      <%#= f.label :age %><br/>-->
      <%#= f.text_field :age, autocomplete: "off" %>
<!--    </div>-->
<!--  </div>-->

<!--  <div class="row">-->
<!--    <div class="input-field col offset-s3 s6">-->
      <%#= f.label :password %>
      <%#= f.password_field :password, autocomplete: "off" %>
<!--    </div>-->
<!--  </div>-->

<!--  <div class="row">-->
<!--    <div class="input-field col offset-s3 s6">-->
<!--      <%#= f.label :password_confirmation %><br />-->
      <%#= f.password_field :password_confirmation, autocomplete: "off" %>
<!--    </div>-->
<!--  </div>-->

<!--  <div class="row">-->
<!--    <div class="actions col offset-s3 s6">-->
      <%#= f.submit "Sign up", class: "waves-effect waves-light btn" %>
<!--    </div>-->
<!--  </div>-->
  <div class="row">
    <div class="row">
      <div class="input-field col offset-s3 s6">
        <%= devise_error_messages! %>
      </div>
    </div>

    <div class="col s6">
      <div class="input-field ">
        <%= f.label :name %>
        <%= f.text_field :name, autocomplete: "off" %>
      </div>
      <div class="input-field ">
        <%= f.label :surname %>
        <%= f.text_field :surname, autocomplete: "off" %>
      </div>
      <div class="input-field ">
        <%= f.label :middlename %>
        <%= f.text_field :middlename, autocomplete: "off" %>
      </div>
      <div class="input-field ">
        <%= f.label :age %>
        <%= f.text_field :age, autocomplete: "off" %>
      </div>
    </div>

    <div class="col s6">
      <div class="input-field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <div class="input-field">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off" %>
      </div>
      <div class="input-field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>
    </div>

    <div class="col s12">
      <%= f.submit "Sign up", class: 'waves-effect waves-light btn-small' %>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>

