<!DOCTYPE html>
<html>
  <head>
    <title>Faith</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col offset-s3 s6">
          <% if notice %>
            <div class="card-panel blue lighten-2">
              <span class="white-text"><%= notice %></span>
            </div>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col offset-s3 s6">
          <% if alert %>
            <div class="card-panel red lighten-2 ">
              <span class="white-text"><%= alert %></span>
            </div>
          <% end %>
        </div>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
